<script lang="ts">
	export let src = '';
</script>

<span class="hidden">{src}</span>

<!-- <video controls {src}>
	<track kind="captions" />
</video> -->
<style lang="postcss">
	/* video {
		@apply w-auto rounded-lg border shadow-sm;
		max-height: 700px;
	} */
</style>
