@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--breakpoint-xxl: 1400p;
}

@font-face {
	font-family: 'Digital-7';
	font-display: swap;
	src: url('/fonts/digital-7/digital_7_mono.ttf') format('truetype');
}

body {
	font-family: 'DM Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	@apply bg-slate-100 overflow-x-hidden;
}

@layer components {
	.button {
		@apply select-none cursor-pointer rounded-xl
		block px-3 py-2 shadow outline-none backdrop-blur-lg
		backdrop-filter m-1 bg-gradient-to-r
        transition-all overflow-hidden focus:shadow-lg hover:shadow-lg
		 from-blue-400 to-blue-500
		  hover:from-blue-500 hover:to-blue-600
		 active:from-blue-600 active:to-blue-700 text-white;
	}
}
