@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--breakpoint-xxl: 1400p;
}

body {
	font-family: 'DM Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	@apply bg-slate-100 overflow-x-hidden;
}
